

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

img {
    max-width: 100%;
    height: auto;
}
html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
}


/* BODY */
body {
    background-color: rgb(48, 48, 48);
    color: rgb(238, 238, 238);
    background-image: url('../images/nasa-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/* HEADER */

.overlay {
    background-color: rgb(37, 37, 37);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    align-items: center;
    z-index: 2;
}
#logo {
    display: flex;
    
    flex-direction: row;
    align-items: center;


    text-decoration: none;
    padding: 10px;

    max-width: 80%;  /* For really small screens */
}
header a {
    color: aliceblue;
    padding: 10px;
}

#logo {
}

header nav {
    z-index: -1;

    transform: translateY(-150%);

    width: 100%;
    background-color: rgba(175, 131, 131, 0.959);

    position: fixed;
    top: 68px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgb(0, 0, 0);

}

header nav a {
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    text-decoration: none;

    margin: 3px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a:hover {
    background-color: rgb(146, 111, 111);
    transition: background-color 0.3s ease;
}

#active {
    font-weight: bold;
    background-color: rgba(175, 131, 162, 0.959);
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

#active:hover {
    background-color: rgb(146, 111, 134);
    transition: background-color 0.3s ease;

}

.menu-icon {
    width: 50px;
    
    
    text-align: center;
    margin-right: 10px;
    margin-left: 15px;

}


/* Hamburegr menu */
header .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

header span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: aliceblue;
    margin: 2px 0;
}

.active {
    z-index: 1;
    max-height: fit-content;
    transform: translateX(0%);
    transition: all 0.3s ease;


}

.active-reverse {
    z-index: -1;
    transform: translateY(-150%);
    transition: all 0.3s ease;
}



.bar-active-top {
    transform: rotate(45deg) translate(0px, 12px);
    transition: all 0.8s ease;
}

.bar-active-middle {
    opacity: 0;
    transition: all 0.8s ease;
}

.bar-active-bottom {
    transform: rotate(-45deg) translate(1px, -12px);
    transition: all 0.8s ease;
}



.bar-active-top-reverse {
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 0.8s ease;
}
.bar-active-middle-reverse {
    display: block;

    opacity: 1;
    transition: all 0.8s ease;
}
.bar-active-bottom-reverse {
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 0.8s ease;
}





/* BODY */
.main {
    margin-top: 100px;

    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.card {
    background-color: rgba(22, 22, 22, 0.849);
    border: 2px solid rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border-radius: 20px;
    text-align: center;
    padding: 10px 30px;
    margin: 10px 0px;
}

#apodImage {
    width: 100%;
    border-radius: 10px;
    border: 1px solid aliceblue;
    margin: 15px 0px;
}

#apodImage:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

#apodTitle {
    justify-self: center;
}

#apodDescription {
    margin: 15px 0px;
    font-size: 17px;
}
#apodDate {
    font-size: 25px;
}

.card-content {
    text-align: center;
}


.title-sm {
    background-color: rgb(128, 89, 114);
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
}



/* asteroids page */

.asteroid-table {
    width: 90%;
    margin: 20px 0px;
    border-collapse: collapse;
}

thead {
    background-color: rgb(58, 58, 58);
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

th,td {
    border: 1px solid aliceblue;
    padding: 5px;
    text-align: center;
    height: 30px;
}
tbody tr:nth-child(odd) {
    background-color: rgb(189, 133, 168);
    color: rgb(0, 0, 0);
}
tbody tr:nth-child(even) {
    background-color: rgb(141, 68, 114);
}

.asteroid-more-info a {
    color: rgb(255, 255, 255);
}
.asteroid-more-info {
    border: none;
    background-color: rgb(58, 58, 58);
    width: 100px;
    border-bottom: 1px solid rgb(255, 255, 255);
}




.asteroid-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 70%;
}

#asteroidPrevious, #asteroidNext {
    background-color: rgb(58, 58, 58);
    color: aliceblue;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0px 10px;
    border: 1px solid rgb(255, 255, 255);  
    font-size: 20px;
    width: 50px;
    
}

#pageNumber {

    font-size: 40px;
    margin: 0px 10px;
}

#asteroidPrevious:hover, #asteroidNext:hover {
    background-color: rgb(128, 89, 114);
    transition: background-color 0.3s ease;
}




/* FOOTER */
footer {
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    text-align: center;

    border-top: 2px solid rgb(0, 0, 0);
}

.footer-container {
    justify-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 10px 0px;
    
}

footer a {
    color: aliceblue;

}


/* MEDIA QUERIES */


/* TABLET */
@media screen and (min-width: 768px) {
    .card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .title-sm {
        width: 100%;
        font-size: 30px;
    }

    #apodImage {
        width: 48%;
    }
    
    #apodDescription {
        margin: 5px 0px;
        font-size: 15px;
    }
    #apodDate {
        font-size: 25px;
        width: 100%;
    }

    #apodTitle {
        font-size: 18px;
    }
    .card-content {
        margin: 2%;
        width: 48%;
    }



}

/* DESKTOP */
@media screen and (min-width: 1024px) {

    .title-sm {
        font-size: 40px;
    }
    #apodImage {
        width: 30%;
    }

    .card-content {
        width: 60%;
        margin: 4%;
    }
    #apodTitle {
        font-size: 24px;
    }
    #apodDescription {
        font-size: 20px;
    }
    #apodDate {
        font-size: 30px;
    }
}

