

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

img {
    max-width: 100%;
}
html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
}


/* BODY */
body {
    background-color: rgb(48, 48, 48);
    color: rgb(238, 238, 238);
    background-image: url('/res/images/nasa-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/* HEADER */

.overlay {
    background-color: rgb(37, 37, 37);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    align-items: center;
    z-index: 2;
}

header a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}

#logo {
    max-width: 60%;  /* For really small screens */
}

header nav {
    z-index: -1;

    transform: translateY(-150%);

    width: 100%;
    background-color: rgba(175, 131, 131, 0.959);

    position: fixed;
    top: 68px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgb(0, 0, 0);
}

header nav a {
    color: aliceblue;
    text-align: center;
    font-size: 25px;

    margin-top: 3px;

}

header nav a:hover {
    background-color: rgb(146, 111, 111);
    transition: background-color 0.3s ease;
}

#active {
    font-weight: bold;
    background-color: rgba(175, 131, 162, 0.959);
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

#active:hover {
    background-color: rgb(146, 111, 134);
    transition: background-color 0.3s ease;

}



/* Hamburegr menu */
header .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

header span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: aliceblue;
    margin: 2px 0;
}

.active {
    z-index: 1;
    max-height: fit-content;
    transform: translateX(0%);
    transition: all 0.3s ease;


}

.active-reverse {
    z-index: -1;
    transform: translateY(-150%);
    transition: all 0.3s ease;
}



.bar-active-top {
    transform: rotate(45deg) translate(0px, 12px);
    transition: all 0.8s ease;
}

.bar-active-middle {
    opacity: 0;
    transition: all 0.8s ease;
}

.bar-active-bottom {
    transform: rotate(-45deg) translate(1px, -12px);
    transition: all 0.8s ease;
}



.bar-active-top-reverse {
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 0.8s ease;
}
.bar-active-middle-reverse {
    display: block;

    opacity: 1;
    transition: all 0.8s ease;
}
.bar-active-bottom-reverse {
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 0.8s ease;
}



/* BODY */
.main {
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main div {
    background-color: rgba(124, 124, 124, 0.636);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    padding: 10px 30px;
    margin: 20px;
}

.main div img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid aliceblue;
}

.main div img:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

#apod h2 {
    background-color: rgba(0, 0, 0, 0.227);
    width: 100%;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 0px;
}

/* FOOTER */
footer {
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    text-align: center;

    border-top: 2px solid rgb(0, 0, 0);
}

.footer-container {
    justify-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 10px 0px;
    
}

footer a {
    color: aliceblue;

}


